/* 手機 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chiron GoRound TC", sans-serif;
  
}

/* 字 */
h1 {
  line-height: 2;
  color: #2D4C47;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.story,
.features,
.tool {
  scroll-margin-top: 140px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}



/* header */
.header {
  height: 70px;
  background-color: #2D4C47;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo a{
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: block;
  color: white;
}

.main-nav {
  display: none;
}

.primary-nav {
  list-style: none;
  display: flex;
  gap: 50px;

}

.primary-nav a {
  color: white;
  text-decoration: none;
  position: relative;
}

.primary-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0;
  height: 2px;
  background-color: white;

  transition: width 0.8s ease;
}

.primary-nav a:hover::after {
  width: 100%;
}




/* .primary-nav a:hover {
  border-bottom: 2px solid white;
} */

/* 第一區塊 */
.hero {
  padding: 140px 0 40px;
  /* background-color: #FFFAEB; */
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* .hero-content-left {
  justify-content: center;
  aign-items: center;
} */

.hero-text {
  max-width: 500px;
  /* width: 70%; */
  line-height: 1.5;
}



.hero-content-right {
  /* background-color: white; */
  /* 防止圖片超出 */
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.hero_phone {
  width: 45%;
  height:auto;
  display: block;
}

.phone_right {
  margin-top: 40px;
}


.hero-btn {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  
}

.hero-btn a {
  color: white;
  text-decoration: none;
  background-color: #2D4C47;
  padding: 20px 30px;
  border-radius: 8px;
}

.hero-btn a.btns {
  color: #2D4C47;
  background-color: transparent;
  border: 1px solid #2D4C47;
}

.hero-btn a:hover {
  background-color: #4B8179;
  transition: 0.3s;
  color: white;
}



/* .hero-btn button {
  padding: 12px 20px;
} */

/* 情境式 */

.story {
  padding: 0 0 40px;
  /* background-color: #FFF0C2; */
}
.story-text {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}



/* 圖片 */

/* 負責卡片外觀 */
.story-card {
  background-color: #FFF0C2;
  width: 100%;
  min-height: 550px;
  border-radius: 20px;
  /* border: 1px solid #333; */
  padding: 24px;
  /* padding-top: 60px; */
}

/* 負責把切頁開關藏起來 */
.story-card input[type="radio"]{
  display: none;
}

.pic {
  width:25%
}



/* 圖片框 */
.story-mockup {
  width: 100%;
  height: auto;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow:visible */
  /* margin-top: 30px; */
}

.mockup {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.story-mockup .mockup {
  width: 65%;
  height: auto;
}

/* 負責每一頁排列 */
.story-page {
  flex-direction: column;
  gap:32px;
  display: none;

  width: 100%;
}

/* step1~8 */
#step1:checked ~ .page-1 {
  display: flex;
}
#step2:checked ~ .page-2 {
  display: flex;
}
#step3:checked ~ .page-3 {
  display: flex;
}
#step4:checked ~ .page-4 {
  display: flex;
}
#step5:checked ~ .page-5 {
  display: flex;
}
#step6:checked ~ .page-6 {
  display: flex;
}
#step7a:checked ~ .page-7a {
  display: flex;
}
#step7b:checked ~ .page-7b {
  display: flex;
}
#step8:checked ~ .page-8 {
  display: flex;
}

.story-pagination {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  justify-content: center;
  display:none;
}

.story-pagination label {
  display: block;
  width: 10px;
  height: 10px;
  /* 元素存在，只是背景變透明 */
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 50%;
  /* 出現手勢 */
  cursor: pointer;
  
}

/* 有上班的上色 */
#step1:checked ~ .story-pagination label[for="step1"],
#step2:checked ~ .story-pagination label[for="step2"],
#step3:checked ~ .story-pagination label[for="step3"],
#step4:checked ~ .story-pagination label[for="step4"],
#step5:checked ~ .story-pagination label[for="step5"],
#step6:checked ~ .story-pagination label[for="step6"],
#step7a:checked ~ .story-pagination label[for="step7a"],
#step7b:checked ~ .story-pagination label[for="step7a"],
#step8:checked ~ .story-pagination label[for="step8"] {
  background-color: #333;
}



/* 負責文字內容*/
.story-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 220px;
  align-items: center;
}

.story-content h4 {
  font-size: 30px;
  font-weight: bold;
}

.story-content p {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

.smallfont {
  font-size: 12px;
  color: #6e6e6e;
  line-height: 0;
}

/* 負責按鈕 */
.story-btn {
  margin-top: auto;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  
}

.story-btn label {
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid #2D4C47;
  border-radius: 8px;
  cursor: pointer;
  color: #2D4C47;
  /* background-color: white; */
  
}

.story-btn label:hover {
  background-color: #64A69A;
  color: white;
  transition: 0.3s;
}

label.stbtn:hover {
  background-color: #64A69A;
  transition: 0.3s;
}

label.stbtn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #2D4C47;
  color: white;
  border:none;
  border-radius: 8px;
  cursor: pointer;
}

label.stbtn2 {
  display: inline-block;
  padding: 12px 20px;
  background-color: #e25c5c;
  color: white;
  border:none;
  border-radius: 8px;
  cursor: pointer;
}

.story-icon {
  display: flex;
  color: #2D4C47;
  font-size: 30px;
  margin-top: 18px;
}



/* 核心功能 */





.features {
  padding: 40px 0;
  /* background-color: #FFFAEB; */
}

.features-text {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.features-main-icon {
  display: flex;
  color: #2D4C47;
  font-size: 30px;
  margin-top: 18px;
}

.features-icon {
  display: flex;
  align-items: center;
  margin-top: 0;
  font-size: 16px;
}

.features-panel {
  width: 100%;
  /* margin-bottom: 40px; */
}

.features-panel > input[type="radio"] {
  display: none;
}

.features-list {
  width: 100%;
  height: auto;
  background-color: #FFFAEB;
  border-radius: 16px;
}

.features-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid #FFE699 ; */
  min-height: 64px;
  padding: 20px 16px;
  
  box-sizing: border-box;
  cursor: pointer;
}

.features-title:hover {
  background-color: #FFE699;
  /* border-radius: 16px; */
}

.features-detail {
  display: none;
  padding: 16px 16px 24px;
  height: 410px;
  box-sizing: border-box;
  /* border-bottom: 1px solid #FFE699 ; */
}

.features-detail ul {
  margin: 8px 0 0;
  padding-left: 20px;
}

.features-detail li {
  /* list-style: none; */
  line-height: 1.5;
  
}

.features-item {
  border-bottom: 1px solid #FFE699;
}

.features-item:last-child {
  border-bottom: none;
}

/* .features-detail li::before {
  content: "→";
  margin-right: 8px;
} */


/* 讓後面多加16px */
.features-detail p + p {
  margin-top: 16px;
}

/* mobile Mockup */
.features-mobile-preview {
  width: 100%;
  height: 260px;
  margin-top: 24px;
  /* background-color: white; */
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features-mobile-preview img,
.preview-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* 電腦版Mockup > 手機隱藏 */
.features-preview {
  width: 100%;
  height: 300px;
  /* background-color: white; */
  border-radius: 16px;

  display: none;
}


/* 功能 */
#features1:checked ~ .features-list .features-item:nth-child(1) .features-detail {
  display: block;
}
#features2:checked ~ .features-list .features-item:nth-child(2) .features-detail {
  display: block;
}
#features3:checked ~ .features-list .features-item:nth-child(3) .features-detail {
  display: block;
}
#features4:checked ~ .features-list .features-item:nth-child(4) .features-detail {
  display: block;
}
#features5:checked ~ .features-list .features-item:nth-child(5) .features-detail {
  display: block;
}
#features6:checked ~ .features-list .features-item:nth-child(6) .features-detail {
  display: block;
}

.preview-item {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


/* 電腦版 mockup */
#features1:checked ~ .features-preview .preview-1 {
  display: flex;
}
#features2:checked ~ .features-preview .preview-2 {
  display: flex;
}
#features3:checked ~ .features-preview .preview-3 {
  display: flex;
}
#features4:checked ~ .features-preview .preview-4 {
  display: flex;
}
#features5:checked ~ .features-preview .preview-5 {
  display: flex;
}
#features6:checked ~ .features-preview .preview-6 {
  display: flex;
}



/* 內容展開 */
/* 主管換了，不繼續用 */
/* .features-item input[type="radio"]:checked ~ .features-detail {
  display: block;
} */

/* 箭頭翻轉 */
/* .features-arrow {
  display: inline-block;
  transition: transform 0.3s ease;
} */

/* 箭頭翻轉1~6 */
/* #features1:checked ~ .features-list .features-item:nth-child(1) .features-arrow {
  transform: rotate(180deg);
}
#features2:checked ~ .features-list .features-item:nth-child(2) .features-arrow {
  transform: rotate(180deg);
}
#features3:checked ~ .features-list .features-item:nth-child(3) .features-arrow {
  transform: rotate(180deg);
}
#features4:checked ~ .features-list .features-item:nth-child(4) .features-arrow {
  transform: rotate(180deg);
}
#features5:checked ~ .features-list .features-item:nth-child(5) .features-arrow {
  transform: rotate(180deg);
}
#features6:checked ~ .features-list .features-item:nth-child(6) .features-arrow {
  transform: rotate(180deg);
} */

/* 箭頭更新 */
.features-arrow {
  display: inline-block;
}

.features-up {
  display:none;
}

/* 被選到的 */
#features1:checked ~ .features-list .features-item:nth-child(1) .features-arrow {
  display:none;
}
#features1:checked ~ .features-list .features-item:nth-child(1) .features-up {
  display:block;
}
#features2:checked ~ .features-list .features-item:nth-child(2) .features-arrow {
  display:none;
}
#features2:checked ~ .features-list .features-item:nth-child(2) .features-up {
  display:block;
}
#features3:checked ~ .features-list .features-item:nth-child(3) .features-arrow {
  display:none;
}
#features3:checked ~ .features-list .features-item:nth-child(3) .features-up {
  display:block;
}
#features4:checked ~ .features-list .features-item:nth-child(4) .features-arrow {
  display:none;
}
#features4:checked ~ .features-list .features-item:nth-child(4) .features-up {
  display:block;
}
#features5:checked ~ .features-list .features-item:nth-child(5) .features-arrow {
  display:none;
}
#features5:checked ~ .features-list .features-item:nth-child(5) .features-up {
  display:block;
}
#features6:checked ~ .features-list .features-item:nth-child(6) .features-arrow {
  display:none;
}
#features6:checked ~ .features-list .features-item:nth-child(6) .features-up {
  display:block;
}

.b {
  font-size: 17px;
  font-weight: bold;
}



/* 工具 */
.tool {
  padding: 40px 0 80px;
  background-color: white;
}

.tool-text {
  margin-bottom: 40px;
}

.tool-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tool-item {
  width: 100%;
  padding: 16px;
  min-height: 72px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 1px solid #2D4C47;
  /* background-color: #FFFAEB; */
  border-radius: 16px;
}

.tool-item-text {
  width: 120px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* text-align:center; */
  color: #2D4C47;
}

.tool-number {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #2D4C47;
  border-radius: 50%;
  /* background-color: #FFE699; */

  /* 空間變窄時，不會被壓扁 */
  flex-shrink: 0;

  font-weight: bold;
}


/* end+CTA */
.end {
  padding: 80px 0;
  background-color: #FFF0C2;
}

.end-content {
  width: 100%;

  flex-direction: column;
  gap: 32px;
  display: flex;
  align-items: center;
}

.end-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #2D4C47;
}

.end-action p {
  display: inline-block;
  padding: 15px 20px;
  background-color: #2D4C47;
  color: white;
  border:none;
  border-radius: 8px;
  cursor: pointer;
}

.end-action p:hover {
  background-color: #64A69A;
  transition: 0.3s;
}



/* footer */
.footer {
  padding: 48px 0;
  background-color: #2D4C47;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  position: relative;
}

.footer-nav a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;

  width: 0;
  height: 2px;
  background-color: white;

  transition: width 0.8s ease;
}

.footer-nav a:hover::after {
  width: 100%;
}

.footer-brand {
  color: white;
}

/* .footer-nav a {
  text-decoration: none;
  color: white;
} */

/* .footer-nav a:hover {
  border-bottom: 2px solid white;
  transition: 0.5s;
} */





/* 電腦版 */
@media screen and (min-width: 1200px) {

p {
  letter-spacing: 1.5px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 96px;
}

  .hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  
}

.menu-icon {
  display: none;
}

.main-nav {
  display: flex;
}

/* 電腦版情境式區 */
.story-content {
  width: 40%;
  margin: 50px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 220px;
  align-items: start;

  /* display: flex;
  flex-direction: column;
  gap:16px */
}

/* 不用設定 */
/* .story-card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

.story-mockup {
  width: 55%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-mockup .mockup {
  height: 100%;
  width: auto;
}

.story-page {
  /* width: 100%; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.story-content p {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: start;
}

/* .story-pagination {
  display:none;
} */


/* 電腦版核心功能區 */
.features-panel {
  display: flex;
  gap: 8%;
  align-items: flex-start;
}

.features-preview {
  width: 42%;
  height: 520px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.features-detail {
  height: 130px;
}

.features-mobile-preview {
  display: none;
}

.features-list {
  width: 42%;
  min-height: 520px;
  height: auto;
}

.preview-item {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.preview-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100%;
  object-fit: contain;
}

/* 電腦版工具區 */
.tool-list {
  flex-direction: row;
}

.tool-item {
  /* 自動平均分配卡片寬度 */
  flex: 1;
  min-height: 150px;
}


/* 最後+CTA */
.end-content {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* footer */
.footer-content {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-nav {
  flex-direction: row;
  gap: 24px;
}

.footer-brand {
  align-items: flex-start;
}


}